#searchbar {
position: relative;
height: 100x;
line-height: 100px;
background-color: clear;
}
#searchbar h2{
text-shadow: 2px 2px white;
text-align: center;
color: white;
font-family:"Impact";
font-size: 25px;
}
#searchbar.input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}



/* padding */
.padding-search {
  padding-bottom: 15%;
}
